/* app global css */

:root{
  --primary: #00A0FF;
  --secondary: #006FB0;
  --labels: #969EAF;
  /* 'gray-texts': '#505050',

  'redtrigger': '#FFDFDF',
  'redbordertrigger': '#EA0000',
  'gray-sky': '#EAECF0',
  'blue-fondo': '#F2FDF1' */
}